{% extends 'Store/base.html' %}
{% block title %} Top Deals - Terms & Conditions {% endblock title %}
{% block body %}

<section>
    <div
        class="min-h-[22rem] flex items-center justify-center content-bg relative bg-no-repeat bg-cover bg-center">
        <div class="flex flex-col gap-1 text-center items-center">
            <h2 class="font-bold text-[#fff] text-[2.4rem] lg:w-full w-[70%]">Terms and Conditions</h2>
        </div>
    </div>
</section>
<main class="static_wrapper">
    <div class=" container w-[85%] mx-auto">
        {{ content|safe }}
    </div>
</main>

{% endblock body %}